body {
     
        background-color: gray;
        font-family: Arial, sans-serif;
}


.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgb(82, 76, 76);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}

#options {
    margin-top: 20px;
}

button {
    margin-top: 20px;
    color: black;
}





